foo {
  color: #1f77b4; /* cometics */
  color: #ff7f0e; /* clothes */
  color: #2ca02c; /* events */
  color: #d62728; /* tech */
  color: #9467bd; /* games */
  color: #8c564b; /* trash */
  color: #e377c2; /* food */
}
